<div id="container">
    <div class="card">
        <div class="card-content">
            <h3><a id="rule01" href="/term#rule01">利用規約について</a></h3>
            <p>
                この利用規約（以下，「本規約」といいます。）は、<a href="https://syukei-san.xyz">syukei-san</a>（以下，「当方」といいます。）がこのウェブサイト上で
                提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。
                登録ユーザーの皆さま（以下，「ユーザー」といいます。）には、本規約に同意し、これを遵守するものとします。
                また本サービスを利用した場合には、本規約の全ての記載内容について同意したことになります。
                本規約は、本サービスに接続するための API やアプリケーション、外部サイトからのアクセス全てに適用され、本規約の
                すべての記載内容に同意したことになり同意したことになります
            </p>
            <h3><a id="rule02" href="/term#rule02">禁止事項</a></h3>
            <p>ユーザーは、本サービスの利用にあたり、次に掲げる行為を行ってはならないものとします。
                禁止事項に違反した場合には、当方はユーザーの承諾を得る事無く、強制退会、利用停止、コンテンツ等の情報の全部
                もしくは一部の削除、又は公開範囲の変更等の不利益な措置を行うことがあります。<br>
                ユーザーは本サービスを利用する事で、同意したものとします。</p>
            <ol>
                <li>当方または、他者の著作権、商標権等の知的財産権を侵害する行為、又は侵害するおそれのある行為。</li>
                <li>当方または、他者の財産、プライバシーもしくは肖像権を侵害する行為、又は侵害するおそれのある行為。</li>
                <li>当方または、他者を不当に差別もしくは誹謗中傷し、他者への不当な差別を助長し、又はその名誉もしくは信用を毀損する行為。</li>
                <li>自分以外の人物を名乗ったり、代表権や代理権がないにもかかわらずあるものと装い、他者になりすます、または誤解を与えるような形で本サービスを利用する行為。</li>
                <li>詐欺、規制薬物の濫用、児童売買春、預貯金口座及び携帯電話の違法な売買等の犯罪に結びつく、又は結びつくおそれのある行為。</li>
                <li>わいせつ、児童ポルノまたは児童虐待に相当するする内容を投稿する行為。</li>
                <li>他人の投稿のみ、または引用のみで構成された記事を投稿、または掲載する行為。</li>
                <li>他人の投稿や引用を多用することでオリジナル性を維持じるしく落としている記事を投稿、または掲載する行為</li>
                <li>重複した内容を、複数アカウントから投稿したり、ひとつのアカウントで重複した投稿を複数する行為。</li>
                <li>当該箇所と無関係若しくは関連性の希薄な語句を複数羅列し、又は著しく長い文章若しくは大量の語句を投稿する行為。</li>
                <li>ウィルス等の有害なコンピュータプログラム等を送信又は掲載する行為。</li>
                <li>当方または他者のサーバーに負担をかける行為、もしくは、本サービスに支障を与える行為、又はこれらのおそれのある行為。</li>
                <li>その他、当方が不適切と判断する行為。</li>
            </ol>
            <h3><a id="rule03" href="/term#rule03">サービスの変更</a></h3>
            <p>当方は、当方の都合により、本サービスをいつでも任意の理由で追加、変更、中断、終了することができます。</p>
            <h3><a id="rule04" href="/term#rule04">当方のコンテンツ等削除について</a></h3>
            <p>
                次に掲げる場合には、情報の違法性・規約違反の有無に関わらず、当方は該当コンテンツの全部もしくは一部の削除又は公開範囲の変更等の不利益な措置を行うことができるものとします。
            </p>
            <ol>
                <li>
                    公的な機関又は専門家（国、地方公共団体、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットラインセンター、弁護士、警察等をいいます）から、
                    コンテンツ等の情報について、違法、公序良俗違反又は他人の権利を侵害する等の指摘・意見表明があった場合。
                </li>
                <li>
                    権利者と称する者から、コンテンツ情報が自分の権利を侵害する旨の申告があった場合。
                    ただし、合理的、客観的に判断可能な資料及び情報などがあった場合に限ります。
                </li>
            </ol>
            <h3><a id="rule05" href="/term#rule05">データ保存期間について</a></h3>
            <ol>
                <li>データ保存期間は９０日です。</li>
                <li>データ作成日から９０日以上経過した場合、投票および結果を閲覧できません</li>
                <li>データ作成日から９０日以上したものは削除される可能性があります（削除が保証されるわけではありません）</li>
            </ol>
            <h3><a id="rule05" href="/term#rule05">免責事項</a></h3>
            <ol>
                <li>ユーザーは、本サービスの利用、投稿したコンテンツのすべて、およびこれらによって引き起こされる結果のすべてについて責任を持ち、当方は一切関与、責任を持ちません。</li>
                <li>当方が本サービスの内容の追加、変更、又は本サービスの中断、終了によって生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。</li>
                <li>当方は、ユーザーによって投稿されるコンテンツを監視したり、保存する義務を負いません。ユーザーが投稿したコンテンツに含まれる内容、画像など一切の内容に責任を持ちません。</li>
                <li>当方は、本規約またはその他の利用規約等に違反する行為、またはそのおそれのある行為が行われたと判断した場合には、当該行為を行ったユーザーの強制退会処分、投稿したコンテンツ等の情報の全部もしくは一部、それに紐づく全部のデータの削除、及び公開範囲の変更等を行う場合がありますが、それによって生じたいかなる損害についても、一切責任を負いません。</li>
                <li>当方は、ユーザーの公開設定有無に関わらず、本サービスの技術的不具合の原因を解明し、解消するため必要な場合、裁判所や警察などの公的機関から、法令に基づく正式な照会を受けた場合、人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があると弊社が判断した場合、その他本サービスを適切に運営するために必要が生じた場合において、ユーザーの提供した情報を閲覧したり、変更したり、第三者に開示する事ができるものとします。当方はそれによって発生したいかなる損害についても、一切責任を負いません。</li>
                <li>当方はユーザーが送信した内容やコンテンツへの無断のアクセス、使用、または変造、のいずれかに起因する間接的損害、付随的損害、特別損害、派生的損害、もしくは懲罰的賠償または逸失利益（それが直接的に発生するか間接的に発生するかを問わず）、あるいはデータ、利用可能性もしくはのれんの喪失またはその他の無形的な損害については、適用される法令が認める最大限の範囲で、責任を負わないものとします。</li>
            </ol>
            <h3>改変履歴</h3>
            <ul style="list-style:none">
                <li>2019年7月07日作成</li>
                <li>2019年8月24日データ保存期間について追記</li>
                <li>2020年1月28日表記厳密化</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="has-text-centered">
        <a class="button is-link" href="/">Back to the Home</a>
    </div>
    <hr>
</div>